.data-table-title {
  text-align: center;
  padding-bottom: 10px;
}

.data-table {
  text-align: center;
  border-collapse: collapse;
  border: 0px solid #ddd;
  width: 100%;
}

.data-table td,
.data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: var(--secondary);
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
}
