.navbar__header {
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  flex-direction: column;
  align-self: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
  min-width: 150px;
  background-color: var(--light);
  color: var(--primary);
  padding:20px;
}

.navbar h3 {
  margin-top: 3px;
  font-weight: 500;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content:flex-start;
  align-items: flex-start;
}

.navbar li {
  list-style-type: none;
  display: flex;
  padding: 5px;
  min-width: max-content;
  
}

.navbar li:hover {
  color: var(--dark);
}

.navbar a {
  text-decoration: none;
  font-weight: 400;
  color: var(--primary);
  
}
