@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./layout";
@import "./utility";
@import "./components";

:root {
  --primary: #254e58;
  --secondary: #4f4a41;
  --light: #88bdbc;
  --dark: #112d32;
  --accent: #6e6658;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

a {
  color: var(--secondary);
  font-weight: 500;
}

.center {
  margin: auto;
  text-align: center;
}

