@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./layout";
@import "./utility";
@import "./components";
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
  --primary: rgb(88,126,77);
  --secondary: rgb(198,204,160);
  --light: rgb(150,175,219);
  --dark: rgb(49,79,44);
  --accent: rgb(145, 186, 120);
  --accent2: rgb(57,78,125);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Arvo", sans-serif;
  padding-left: 10%;
  height: auto;
  min-height:1000px;
  background-image: linear-gradient(var(--secondary), var(--primary));
  color:var(--accent2)
}

a {
  color: var(--secondary);
  font-weight: 500;
}

.center {
  margin: auto;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 0;
}

form  button{
  padding:5px;
  border-radius: 3px;
  border-width: 1px;
}
form  input{
  padding:5px;
  border-radius: 3px;
  border-width:1px;
  
}

ul a {
  display: flex;
  align-items: center;
}
